{% extends 'base.html' %}
{% load static %} 

{% block title %}
     Movies
{% endblock  %}
 

{% block content %}
     <div class="container">
          <h1> Movies Listing @GV Cinema</h1>
          <div>
               <a href="/">
                    <button id="back"> back</button>
               </a> 
               
          </div>
          <div>
          <h1>{{name}}</h1>
          <ul class="list">
               <li class="items">
                    <img src="{% static img_path %}" width="250" alt="My image" /><br/>
               </li>
               <li class="items">
                    <div class="content content-detail">
                         <div class="detail">
                              
                              <h1>Details</h1>
                              <p>Genre : 
                              {% for x in genre.all %}
                                   {{ x.name }},
                              {% endfor %}
                              </p>
                              <p>Language :{{language}}</p>
                              <p>Duration : {{duration}} Minutes</p>
                              <p>Rating : {{user_rating}}</p>
                              <p>Mpaa Rating : {{mpaa_rating}}</p>

                         </div>
                         <div class="detail">
                              <h1>Synopsis</h1>
                              <p>{{descriptions}}</p>
                         </div<

                    </div>
               </li>
          </div>
          
          
     <div>
     <script>
          $(document).ready(function() {

          });
     </script>
          
{% endblock  %}
 