{% extends 'base.html' %}
{% load static %} 


{% block title %}
     Movies
{% endblock  %}
 

{% block content %}
<div class="container">
     <h1> Movies Listing @GV Cinema</h1>
     <div>
          <input type="text" name="search" placeholder="search movies ..." id="usersSearch"/> 
     </div>
     <ul class="list response-list" id="response-list"></ul>

     <ul class="list" id="index-list">
           {% for  movie in  movies %}
               <li class="items">
                    <a href="{{ movie.get_absolute_url }}">
                         <div class="content">
                              <img src="{% static movie.img_path %}" width="250"/><br/>
                              <h3>{{movie.name}}</h3>
                              <p>{{movie.duration}} min <br/>
                              user rating :  {{movie.user_rating}}</p>
                         </div>
                    </a>
               </li>
          {% endfor %}
     </ul>
</div>

<script>
     $(document).ready(function() {
         $('#usersSearch').keypress(function(e){
               value =  $(this).val();
               if(e.which == 13){
                    if (value === ""){
                         location.reload()
                    }
                    resp = $("#response-list")
                    $.ajax({
                         url: '{% url "search" %}',
                         dataType: 'html',
                         type: 'POST',
                         data: { param: $(this).val()},
                         success: function(data) {
                              $('#index-list').toggle();
                              resp.html("");

                              parse = JSON.parse(data)
                              $.each(parse, function(i, v) {
                                   resp.append(`
                                   <li class="items">\
                                        <a href="movie-detail/`+v.slug+`">\
                                             <div class="content">\
                                                  <img src="static/`+v.img_path+`" width="250"/><br/>\
                                                  <h3>`+v.name+`</h3>\
                                                  <p>`+v.duration+` min <br/>\
                                                  user rating :  `+v.user_rating+`</p>\
                                             </div>
                                        </a>
                                   </li>
                                   `)
                              });
                             
                         },error: function(err){
                              alert(err)
                         }
                     });
               }
          });
          

     
     });
</script>

{% endblock  %}
