/*  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 900px;
  /* border: 1px solid #000000; 
  background-color: #f0f0f0;*/
}

/* .container > h1, .container > div {
  margin-left: 20px;
} */

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
           
.items {
  min-width: 260px;
  margin: 0px 10px 15px 10px;
  padding: 10px 0px 10px 0px; 
  flex-basis: 0;
  height: auto;
  
}
           
.content {
  color: #000000;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
}

.content-detail{
  width:500px;
  margin-top:-35px; 
  
}

.content img {
  height: 350px;
  border-radius: 10px;
}

.content > .detail > *{
  text-align: left;
  position: relative;
  top:10px
}


