{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "app.css" %}">
  {% block css_files %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
  <header></header>

  {% block content %}
  {% endblock %}
</body>
</html>